body, html{ 
	margin:0;
	width:100%;
	height:100%;
	cursor:none;
	font-family:serif;
}  
 
.controls{
	display:flex;
	position:fixed;
	top:0;
	left:0;
	flex-flow:row;
	height:25px;
	align-items:center;
	justify-content:center;
}

.overlay{
	position:fixed;
	z-index:1;
	width:100%;
	height:100%;
	display:flex;
	flex-flow:column;
	align-items: 	center;
	color:white;
	transition:opacity 2s;
	opacity:0;
	background-color:rgba(0,0,0,.75);
}

.shadowed{
	max-width:17%;text-align: center;
	border-radius: 35px;
	background-color: rgb(0,0,0, 0.4);
	box-shadow: 0 0 10px 10px rgb(0,0,0, 0.4);
}

.ui-text{
	position:fixed;
	z-index:0;
	width:100%;
	height:100%;
	font-size: 2em;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	color:white;
}

video.disabled{
	display:none;
}
.overlay.active{
	opacity:1;
}

input{
	width:512px;
}

button{
	margin:5px;
	font-size:18px;
	background-color:rgba(0,0,0,.8);
	color:red;
	border:1px rgba(255,255,255,.2) solid;
}

#controls{
	top:35px;
}